.go_top {
  position: fixed;
  width: 50px;
  height: 30px;
  right: 10px;
  bottom: 80px;
  padding-top: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
}

.go_top:hover:before {
  top: 50%;
}

.go_top:hover .box_in {
  visibility: hidden;
}

.go_top:before {
  content: "回到顶部";
  position: absolute;
  font-weight: bold;
  width: 30px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999999;
}

.box_in {
  visibility: visible;
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #999999;
  border-color: #999999 transparent transparent #999999;
  transform: rotate(45deg);
}
