.login_container {
  background-image: linear-gradient(-180deg, #1a1454 0%, #0e81a5 100%);
  /*background-image: url("../images/bg_login.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.el-form {
  padding: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.login {
  width: 290px;
  height: 350px;
  /* background-color: #fff; */
  background-color: #2e527bb3;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.login .login_head {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #fff;
}

.login .login_btn {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
}

.login .login_btn button {
  display: block;
  width: 50%;
}

.el-form-item .el-form-item__content {
  margin-left: 50px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: stretch !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.code {
  width: 112px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: -40px;
  margin-left: 140px;
}

.validate_code {
  width: 136px;
  margin-right: 10px;
}

.errInfo {
  margin-top: -15px;
  margin-bottom: 5px;
  margin-left: 100px;
  color: red;
}
